# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# virtual environments
.venv

# env file
.env

# IDE
.vscode
.idea

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff stuff:
.ruff_cache/

# QGIS projects & attachements
*.qgs~
*.qgs
*.qgz
*.zip

# QGIS settings
.qgis-settings/

# builds
dist/
