__pycache__
*.egg-info



# virtual environments
.venv

# env file
.env

# IDE
.vscode
.idea

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff stuff:
.ruff_cache/

# QGIS projects & attachements
*.qgs~
*.qgs
*.qgz
*.zip

# QGIS settings
.qgis-settings/

# builds
dist/
