# Enforce LF line endings regardless of OS or git configurations.
* text=auto eol=lf

*.bat text eol=crlf

# Keep lines from both sides on merge, pre-commit sorts and removes duplicates
whitelist.txt merge=union
